{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}

<div class='onepage big-row-padding'>
  <div class='row secondary-bg'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>1</div>
        <h1 class='big'>Impressiona i tuoi clienti</h1>
      </div>
    </div>
  </div>


  <div class='row secondary-bg'>
    <div class='container'>

      <div class="col-md-7">
        <img src='{% static "img/monitor.png" %}'>
      </div>

      <div class="col-md-5">
        <h1 class='big'>AIUTA QUELLI CHE HANNO BISOGNO</h1>
        <p class='big'>
          Entra in contatto con le
          persone sul tuo sito
          web e indicagli la giusta  
          soluzione.
        </p>
      </div>
    </div>
  </div>

  <div class='row secondary-bg'>
    <div class='container'>
      <div class="col-md-12 center">
        <h1 class='big'>Quasi tutti i problemi<br>vengono risolti <b>sul momento</b></h1>
        <p class='big'>
          8 volte su 10 non ci sarà bisogno di andare<br>
          oltre perchè la soluzione è già stata <br>
          trovata in chat.
        </p>
      </div>
    </div>
  </div>


  <div class='row secondary-bg'>
    <div class='container'>
      <div class="col-md-5  col-md-offset-1">
        <h1 class='big'>
          UNA CHAT DAL VIVO
          ARRIVA DOVE <b>EMAIL
          E TELEFONO
          FALLISCONO</b>
        </h1>
        <p class='big'>
          Basta con le attese, stupisci
          i tuoi clienti con risposte
          istantanee.
        </p>
        </div>
      <div class="col-md-4 col-md-offset-1">
        <img src='{% static "img/schema.png" %}'>
      </div>
    </div>
  </div>

  <div class='row secondary-bg'>
    <div class='container'>

      <div class="col-md-7">
        <img src='{% static "img/stats.png" %}'>
      </div>

      <div class="col-md-5">
        <h1 class='big'>Lavora sui <b>feedback</b></h1>
        <p class='big'>
          Controlla in <b>tempo reale</b>
          la qualità del tuo servizio
          clienti.
        </p>
      </div>
    </div>
  </div>


  <div class='row'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>2</div>
        <h1 class='big'>Aumenta i tuoi clienti</h1>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='container'>

      <div class="col-md-5">
        <img src='{% static "img/people.png" %}'>
      </div>

      <div class="col-md-6 col-md-offset-1">
        <h1 class='big secondary'>
          Ci sono clienti che aspettano sul tuo sito, <b>proprio adesso</b>
        </h1>
        <p class='secondary'>
          Scopri nuove opportunit&agrave; approcciando i clienti
          direttamente sulla tua pagina web.
        </p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='container'>
      <div class="col-md-5  ">
        <h1 class='big secondary'>
          GUIDA I TUOI CLIENTI FINO AL PAGAMENTO
        </h1>
        <p class='secondary'>
          Smetti di perdere clienti
          durante il checkout aiutando
          quelli che si trovano in 
          difficoltà.
        </p>
        </div>
      <div class="col-md-5 col-md-offset-2">
        <img src='{% static "img/arrows.png" %}'>
      </div>
    </div>
  </div>

  <div class='row awesome-bg'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>3</div>
        <h1 class='big'>Fornisci un servizio clienti efficiente</h1>
      </div>
    </div>
  </div>

  <div class='row awesome-bg'>
    <div class='container'>
      <div class="col-md-6">
        <h1 class='big'>
          INSTALLA UNA VOLTA
          E GESTISCI CENTINAIA
          DI CHAT AL GIORNO
        </h1>
        <p class='big'>
          Bastano pochi minuti per
          cominciare a vedere i benefici.
        </p>
        </div>
      <div class="col-md-4 col-md-offset-1">
        <img src='{% static "img/clock.png" %}'>
      </div>
    </div>
  </div>

  <div class='row awesome-bg'>
    <div class='container'>
      <div class="col-md-12 center">
        <h1 class='big'>
          RISPARMIA<br>
          GESTENDO PIU RICHIESTE
          CONTEMPORANEAMENTE
        </h1>
        <p class="big">
          Un agente in chat può gestire 10 e più<br>
          richieste nello stesso momento.
        </p>
      </div>

      <div class='score center col-md-3 col-md-offset-2'>
        <img src='{% static "img/chat_ball.png" %}'>
      </div>

      <div class='score center col-md-3 col-md-offset-2'>
        <img src='{% static "img/phone_ball.png" %}'>
      </div>

      <div class='center col-md-3 col-md-offset-2'>
        <span class='score'>10</span>
      </div>

      <div class='center col-md-3 col-md-offset-2'>
        <span class='score'>1</span>
      </div>
    </div>
  </div>


  <div class='row secondary-bg'>
    <div class='container'>
      <div class="col-md-12 center">
        <h1 class='big'>
          FACILE DA AVERE,<br>
          DIFFICILE FARNE A MENO
        </h1>
        <p class='big'>
          Puoi cominciare a usare Skillup Live Chat<br>   
          nel giro di pochi minuti
        </p>
      </div>

      <div class="col-md-12 center">
        <p class='secondary'>
          Iscriviti alla prova<br>
          gratuita di 30 giorni
        </p>
      </div>
      <div class='col-md-4 col-md-offset-4 center'>
        <input class='form-control' name='name' placeholder='Nome'>
      </div>
      <div class='col-md-4 col-md-offset-4 center'>
        <input class='form-control' name='email' placeholder='E-Mail'>
      </div>
      <div class='col-md-4 col-md-offset-4 center'>
        <input class='form-control' name='password' placeholder='Password'>
      </div>

      <div class='col-md-4 col-md-offset-4 center'>
        <a class="btn btn-default" href=''>PROVA GRATUITA</a>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='container'>
      <div class="col-md-12 center">
        
        <h1 class='big'>
          Non ancora convinto?<br>
          <b>Prova il nostro tour!</b>

        </h1>
        
        <a class='btn btn-success btn-big' href=''>TOUR DEL PRODOTTO</a>
      </div>
    </div>
  </div>



</div>

{% endblock %}
