{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}

<div class='onepage'>
  <div class='row'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>1</div>
        <h1 class='big'>E-Commerce</h1>
      </div>
    </div>
  </div>


  <div class='row'>
    <div class='container'>
      <div class="col-md-5 col-md-offset-1">
        <h1 class='big secondary align-right'>
          AUMENTA LE 
          VENDITE E 
          FORNISCI UN 
          EFFICENTE
          SERVIZIO CLIENTI
          POST-VENDITA
        </h1>
      </div>

      <div class="col-md-5">
        <p class='secondary' style='padding-top:32px;'>
          Un cliente che acquista
          un prodotto online si
          aspetta di <b>assistenza
          immediata</b> e risposte in
          tempo reale per 
          concludere in maniera
          <b>sicura e veloce</b> le sue 
          transazioni.
        </p>
      </div>
    </div>
  </div>

  

  <div class='row secondary-bg'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>2</div>
        <h1 class='big'>Agenzie di viaggio e Tour operator</h1>
      </div>
    </div>
  </div>

  <div class='row secondary-bg'>
    <div class='container'>

      <div class="col-md-5 col-md-offset-1">
        <h1 class='big  align-right'>
          <b>RIDUCI I TEMPI DI ATTESA</b> E RENDI IMMEDIATA LA PRENOTAZIONE DI VOLI, HOTEL E VIAGGI
        </h1>
      </div>

      <div class="col-md-4">
        <p class='big' style='padding-top:32px'>
          Invia cataloghi e biglietti istantaneamente <b>in maniera gratuita</b> e in qualsiasi parte del mondo. Sostituisci il Numero Verde con uno strumento più performante ed economico
        </p>
      </div>
    </div>
  </div>

  <div class='row awesome-bg'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>3</div>
        <h1 class='big'>Assicurazioni e Banche</h1>
      </div>
    </div>
  </div>

  <div class='row awesome-bg'>
    <div class='container'>
      <div class="col-md-5 col-md-offset-1">
        <h1 class='big align-right'>
          <b>ASSISTI IN TEMPO REALE</b> LA TUA CLIENTELA SENZA INUTILI ATTESE
        </h1>
        </div>
      <div class="col-md-6">
        <p class='big' style="margin-top:-17px">
          Ricevi e invia documenti, modulistica e contratti <b>con la massima privacy</b>. Riduci i costi del personale e assicura <b>una consulenza personalizzata</b> trasferendo la chiamata al reparto di competenza. Inoltre grazie al servizio di Ticketing puoi sempre aggiornare i tuoi clienti sullo stato delle pratiche in corso.
        </p>
      </div>
    </div>
  </div>



  <div class='row'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>4</div>
        <h1 class='big'>Giochi Online</h1>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='container'>

      <div class="col-md-5 col-md-offset-1">
        <h1 class='big secondary align-right'>
          QUALSIASI PROBLEMA DEI TUOI CLIENTI <B>VERR&Agrave; RISOLTO IN POCHI MINUTI</B> 
        </h1>
      </div>

      <div class="col-md-5">
        <p class='secondary' style='padding-top:32px'>
          Puoi farti inviare documenti e contratti direttamente dalla chat e gestire i problemi relativi ai pagamenti in maniera rapida e sicura. <b>Fidelizza i giocatori</b> offrendo un servizio moderno e esclusivo.
        </p>
      </div>
    </div>
  </div>

  <div class='row secondary-bg'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>5</div>
        <h1 class='big'>Studi Commercialisti e Legali</h1>
      </div>
    </div>
  </div>


  <div class='row secondary-bg'>
    <div class='container'>
      <div class="col-md-5 col-md-offset-1">
        <h1 class='big align-right'>
          OFFRI UN <B>SERVIZIO INNOVATIVO</B> A TUOI CLIENTI
        </h1>
      </div>

      <div class="col-md-5">
        <p class='big' style='margin-top:-12px;'>
          Per fissare appuntamenti inviare e ricevere documenti sensibili con la massima sicurezza. 
          <B>Semplifica e velocizza</B> il lavoro delle tue segretarie e aumenta <B>la professionalità del tuo studio</B>.
        </p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='container'>
      <div class="col-md-12 center">
        <div class='section-number'>6</div>
        <h1 class='big'>Intranet</h1>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='container'>

      <div class="col-md-5 col-md-offset-1">
        <h1 class='big secondary align-right'>
          <b>Migliora il lavoro dei tuoi collaboratori</b> grazie alla chat sempre attiva
        </h1>
      </div>

      <div class="col-md-5">
        <p class='secondary' style='padding-top:32px'>
          Anche a grandi distanze i tuoi colleghi possono condividere file e documenti <b>in modo veloce e gratuito</b> senza impegnare le linee telefoniche
        </p>
      </div>
    </div>
  </div>


</div>

{% endblock %}
