body {
  background:#fff;
  color:rgba(0,0,0,0.80);
  padding-top:60px;
}

a {
  color:#2c3e5f;
}

.navbar {
  background:rgba(255,255,255,0.85);
  padding-top:8px;
}

.main-col {
  padding-top:0px;
}

.primary-bg {
  background:#2c3e5f !important;
  color:#fff;
}

.secondary-bg {
  background:#12836d !important;
  color:#fff;
}

.awesome-bg {
  background:#293949 !important;
  color:#fff; 
}

footer {
  background-color:#293949; 
}

.navbar-default .navbar-nav > li > a {
  color:#2c3e5f;
  text-transform: uppercase;
}

.navbar-brand {
  width:150px;
  height:50px;
  background-image: url(../img/skillup_blue.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.center {
  text-align:center;
}

.big-row-padding .row {
  padding:80px 0px;
  background-color:#fff; 
}

.row-padding .row {
  padding:40px 0px;
  background-color:#fff; 
}

.small-row-padding .row {
  padding:20px 0px;
  background-color:#fff; 
}
.row {
  background-color:#fff; 
}

h1 {
  font-size:2.2em;
  color:rgba(0,0,0,0.60);
}

.awesome-bg h1,
.secondary-bg h1 {
  color:#fff;
}

.btn-big {
  font-size:1.5em;
  padding:15px 30px;
  margin:25px 0px;
}

.sub-btn {
  font-size:12px !important;
}

h1.small{
  font-size:1.4em;
  color:rgba(0,0,0,0.60);
}

h1.big{
  font-size:3em;
}

h1.secondary {
  color:#12836d;
}

.align-right {
  text-align: right;
}

.section-number {
  font-size:2.4em;
  border-radius:50%;
  display:inline-block;
  padding:30px 32px;
  margin-bottom:20px;
  background-color:rgba(0,0,0,0.80);
  color:#fff; 
}

.secondary-bg .section-number {
  background-color: #fff;
  color:#12836d;
}

.awesome-bg .section-number {
  background-color: #fff;
  color:#293949;
}

.onepage img {
  max-width:100%;
}

.dropdown-login {
  background-color:#fff !important;
  border:1px solid #aeaeae;
  right:10px !important;
  padding:10px;
  min-width: 320px !important;
}

.login-box {
  background: none repeat scroll 0% 0% #EDEFF1;
  border-radius: 10px;
  padding: 20px;
}


.onepage > .row p {
  font-size:1.3em;
  color:rgba(0,0,0,0.60);
}

.onepage > .row p.secondary {
  color:rgba(0,0,0,0.60) !important;
  font-size: 1.9em;
  line-height: 1.3em;
}

.onepage > .row p.big {
  font-size: 1.9em;
  color:rgba(255,255,255,0.60) !important;
  line-height: 1.3em;
}

.onepage > .secondary-bg p {
  color:#fafafa !important;
}


.score {
  padding-top:0.6em;
  font-size:10em;
  display:inline-block;
}

.btn-default {
  background: #2c3e50 !important;
  color:#fff !important;
}

.btn-primary {
  background: #16a085 !important; 
  color:#fff !important;
}

.navbar-right > li > a {
  font-size:1.3em;
}

.navbar-right > li > .btn {
  padding:5px 10px !important;
  margin:3px 10px 0px ;
}

.navbar-right > li > a:not(.btn) {
  margin:0px 5px 0px ;
}


.navbar-nav >  li:hover > a:not(.btn),
.navbar-nav > .active > a {
  background-color:#fff !important;
  color:#2c3e50 !important;
}


.price {
  background-color:#fff;
}

.price .title {
  text-align:center;
  padding:0px 0px 10px;
}

.price .benefits {
  list-style-type:none;
  padding:0px;
  text-align:center;
}

.price .benefits li {
  padding:10px 0px;
}

.business .benefits li {

}

.basic .benefits li {
  color:#888;
}


.business .title{
  border-bottom:1px dotted #fafafa;
}


.business {
  background-color:#16a085;
  color:#fafafa;

}

.basic .title{
  color:#2c3e5f;
  border-bottom:1px dotted #2c3e5f;
  border-bottom:1px dotted #2c3e5f;
}

.buy a {
  text-transform:uppercase;
  font-size:1.2em;
  color:#fff;
}

.buy a:hover {
  text-decoration:none;
}

.buy a li:hover {
  cursor:pointer;
}

.nav-pills > li > a { 
  color:#2c3e5f;
  font-size:1.2em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color:#16a085;
}

.nav > li > a:hover, .nav > li > a:focus { 
  background-color:#2c3e50;
  color:#fff;
}
