{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block extra_js%}
{% endblock %}

{% block main %}

<div class='small-row-padding'>
  <div class='row'>
    <div class='container'>
            <h2>Inserisci i tuoi dati di pagamento
              <a class='btn btn-default pull-right' href='{% url "change_plan" %}'>Cambia pacchetto</a>
            </h2>

      <div class='col-md-6'>

        <form action='{% url 'checkout' %}' method='POST'>
          
          {% csrf_token %}
          <div class='row'>
            <ul class='form-ul'>
              {{billing_form.as_ul}}
              <!--
              <li class='separator'></li>
              {{cc_form.as_ul}}
              -->
              <li class='separator'></li>
              <li>
                <input type='checkbox' name='agreement'> 
                  Ho letto e accetto i 
                  <a href=''>Termini di Servizio</a> e 
                  <a href=''>L'informativa sulla Privacy</a><br><br>
              </li>
              <li>
                <input class='btn btn-primary' type='submit' value='AUTORIZZA IL PAGAMENTO'>
              </li>
            </ul>
          </div>

        </form>
      </div>
      <div class="col-md-5 col-md-offset-1">
        
        <div class="info-box" style='margin-top:25px'>
          
          <h3 class='center'>Fattura sottoscrizione</h3>
          <div class="separator"></div>
          
          <div class="row transparent-bg">
            <div class="col-md-6">
              Basic Mensile con <b>{{info.agents}}</b> Agente
            </div>
            <div class="col-md-6 align-right">
              <b>{{info.price}} &euro;</b>
            </div>
          </div>

          <div class="row transparent-bg">
            <div class="col-md-6">
              Prossima scadenza
            </div>
            <div class="col-md-6 align-right">
              <b>16 Dicembre 2014</b>
            </div>
          </div>

          <div class="separator"></div>

          <div class="row transparent-bg">
            <div class="col-md-6">
              Importo dovuto
            </div>
            <div class="col-md-6 align-right">
              <b>{{info.price}} &euro;</b>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
